{% extends 'layout.twig' %}

{% block content %}
    <h1>Welcome to the Star Tracker Library</h1>
    <p>This application allows you to explore and manage celestial objects such as galaxies, stars, and planets.</p>

    <div class="navigation">
        <h2>Explore Our Collections</h2>
        <ul>
            <li><a href="/galaxies">Galaxies</a></li>
            <li><a href="/stars">Stars</a></li>
            <li><a href="/planets">Planets</a></li>
        </ul>
    </div>

{% endblock %}
