/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

header, nav, footer {
    padding: 20px;
    background: #004466;
    color: white;
    text-align: center;
}

nav {
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


h1, h2, h3 {
    color: #004466;
}

html, body {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

footer {
    margin-top: 20px;
    padding: 20px;
    background: #004466;
    color: white;
    text-align: center;
}


/* Forms */
form {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type='text'],
input[type='number'],
input[type='file'],
textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
}

button, input[type='submit'] {
    background-color: #5C87B2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover, input[type='submit']:hover {
    background-color: #3e6690;
}

/* Utility Classes */
.text-center {
    text-align: center;
}
